
<h2><%= @content.category.titleize %> #<%= @content.id %></h2>

<% if @content.present? %>
  <%= render "components/content", content: @content %>
<% end %>

<div class="actions">
  <%= link_to t("edit"), edit_content_path(@content), class: "left" %>
</div>

