.content {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;

  label {
    font-weight: bold;
  }

  textarea {
    width: 290px;
    height: 80px;
  }

  .hidden {
    display: none;
  }

  .left {
    width: 60%;
    float: left;
  }

  .right {
    width: 40%;
    float: right;
  }
}

.answer {

  .right {
    width: 35%;
  }

  .text {
    width: 60%;
    float: left;
  }
}

.content_text {
  width: 420px;
}

.hidden {
  display: none;
}