.content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 240px;

  label {
    font-weight: bold;
  }

  .left {
    width: 50%;
    float: left;
  }

  .right {
    width: 50%;
    float: right;
  }

  textarea {
    width: 290px;
    height: 80px;
  }
}
