.content {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
}

.answers {
  padding: 20px;
}

.answer {

  .right {
    width: 35%;
  }

  .text {
    width: 60%;
    float: left;
  }
}

.hidden {
  display: none;
}

.selected {
  font-weight: bold;
  font-size: 18px;
}

.save_next {
  margin-top: 0;
}