
a, input[type="submit"] {
  text-decoration: none;
  padding: 6px;
  background-color: $brand-background;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: $brand-primary;
  border-color: $brand-primary;
}

input[type="submit"], .primary {
  float: right;
  color: $brand-background;
  background-color: $brand-primary;
}

input, textarea {
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: none;
}

label {
  color: $brand-primary;
  display: block;
  margin-top: 20px;
}

h1, h2 {
  padding: 10px;
  color: $brand-background;
}

table {
  background-color: $brand-white;
  width: 440px;
  table-spacing: 6px;

  thead {
   border-color: $brand-contrast;
   border-top-style: solid;
   border-top-width: 1px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   text-align: left;
  }

  th {
    color: $brand-primary;
    padding: 5px;
  }

  td {
    color: $brand-primary;
    padding: 5px;
  }

  a {
    background-color: $brand-white;
  }
}

.hidden {
  display: none;
}