$page-width: 800px;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $brand-background;
}

form {
  margin-left: 20px;
}

.section {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  background-color: $brand-primary;
  h2 {
    color: $brand-background;
  }
}

.error {
  h2 {
    color: $brand-error;
  }
}

.actions {
  height: 40px;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.field {
  margin-top: 10px;
}

.col-left {
  width: 50%;
}

.col-right {
  width: 50%;
  float: right;
}
