
a, input[type="submit"] {
  text-decoration: none;
  padding: 6px;
  background-color: $brand-high-contrast;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: $brand-primary;
  border-color: $brand-primary;
}

input[type="submit"], .primary {
  float: right;
  color: $brand-high-contrast;
  background-color: $brand-primary;
}

input[type="text"] {
  border-radius: 3px;
}

input:focus {
  outline: none;
}

label {
  color: $brand-primary;
}

h1 {
  padding: 10px;
  color: $brand-high-contrast;
}
