body {
  font-family: 'Open Sans', sans-serif;
  background-color: $brand-high-contrast;
}

.section {
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-color: $brand-primary;
}

.actions {
  margin-top: 20px;
}

.field {
  margin-top: 10px;
}
